{% extends 'base.html.twig' %}

{% block body %}

    <div class="example-wrapper">

        <a class="btn btn-primary" href="{{ path('category_form') }}">Insert</a>

        <div class="container">
            <div class="row">
                <div class="col">Name</div>
                <div class="col">Created</div>
                <div class="col"></div>
            </div>

            {% for c in categories %}
                <div class="row border border-primary">
                    <div class="col">{{ c.name }}</div>
                    <div class="col">{{ c.created|date("d.m.Y") }}</div>
                    <div class="col">
                        <a href="{{ path('category_form_edit', { 'id': c.id }) }}">Edit</a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
